* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #dfe6e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 300px;
    background: #2d3436;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px #0005;
}

#display {
    width: 100px%;
    height: 60px;
    background: #000;
    color: #0f0;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background: #636e72;
    color: #fff;
    padding: 18px;
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    opacity: 0.75;
}

.operator {
    background: #ff9f43;
}

.equal {
    background: #00cec9;
    grid-row: span 2;
}

.clear {
    background: #d63031;
}

.delete {
    background: #0984e3;
}

.zero {
    grid-column: span 2;
}